@import "tailwindcss";

/* messing around with variables, thanks tailwind docs */
/* @theme {
  --text-tiny: 0.9rem;
} */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Hopefully this complies with accessibility */
.diagonal-stripes {
  background: repeating-linear-gradient(315deg,
      #435b79,
      #435b79 5px,
      #1d293d 5px,
      #1d293d 10px);
}

.rev-diagonal-stripes {
  background: repeating-linear-gradient(45deg,
      #435b79,
      #435b79 5px,
      #1d293d 5px,
      #1d293d 10px);
}